body {
    font-family: 'Poppins' !important;
    font-style: normal!important;
    font-weight: 500!important;
    font-size: 18px!important;
    line-height: 24px!important;
    }

    

    @media screen and (max-width: 1380px) {
body { 
font-size: 16px!important;
}

}

@media screen and (max-width: 380px) {
  .right { display: block!important;}

  .dataTables_length { display: block!important;}
  
  }

    /*the container must be positioned relative:*/
    .autocomplete {
      position: relative;
      display: inline-block;
    }

    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }

    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }

    /*when hovering an item:*/
    .autocomplete-items div:hover {
      background-color: #e9e9e9;
    }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
      background-color: DodgerBlue !important;
      color: #ffffff;
    }

    .selectBox {
      position: relative;
    }

    .selectBox select {
      width: 100%;
      font-weight: bold;
    }

    .overSelect {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    #checkBoxes {
      display: none;
      border: 1px #8DF5E4 solid;
    }

    #checkBoxes label {
      display: block;
    }

    .circular-image {
      border: 1px solid #000000;
      width: 75px;
      height: 75px;
      overflow: hidden;
      border-radius: 50%;
      object-fit: cover;
    }

    .data-table-row{
      border-right: 1px solid #EDF2F6 !important;
    }

    .data-table-all{
      color: #687C97 !important;
      background: #FFFFFF !important;
      border: 1px solid #EDF2F6 !important;
    }

    .data-table-search{
      border: 1px solid #B9B7B7;
      box-sizing: border-box;
      border-radius: 10px;
      padding-left : 10px;
      color : #687C97;;
    }

    .data-table-search::placeholder{
      color : #DCDBDB;
    }

    .dataTables_filter { visibility: hidden;}

    .dataTables_info { display: inline;margin-top: 5px;color: #687C97}
    
    .data-table-dropdown {color: #687C97; border-radius: 5px;padding-right: 5px;}

    .dataTables_length { display: inline; margin-left: 5px;color: #687C97;margin-top: 5px;}

    .right { display: inline; float: right;}

    .bottom { display: inline;}

    .form-group-user{
      display: inline;
    }

    .form-group-user .form-control-user{
      display: inline;
    }


    .page-item.active .page-link {
      background-color: #E00000 !important;
      border: 1px solid #E00000 !important;
      color: #FFFFFF !important;
  }
  .page-link {
      color: #9D9D9D !important;
  }

    .data-table-head{
      background: #F9FBFD;
      border-right: 1px solid #EDF2F6 !important; 
      border-bottom: 1px solid #EDF2F6 !important;
    }

    .btn-add{
      background: #18C13D;
      border-radius: 10px;
      width: auto;
    }

    .form-inline label {
      justify-content: left;
  }

  .form-control-user{
    width: 100% !important;
  }

  .form-control-init{
    width: initial !important;
  }

  .btn-save {
    background: #169122;
    border-radius: 5px;
    padding: 5px 25px;
    display: flex;
  justify-content: center;
  }

  .form-trans{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    color:#000000;
  }


    .divbox {
      position: relative;
      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 0%;
      background: #00E096;
      min-height: 25px;
      text-align: center;
      min-width: 60px;
      padding : 5px;
      box-shadow: 0px 4px 8px rgba(102, 251, 202, 0.412232);
      border-radius: 8px;
    }

    .coll {
      position: absolute;
      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 0%;

      background: #FFFFFF;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0px 10px 15px rgba(202, 215, 227, 0.114811);
      border-radius: 8px;
    }

    .breadcrumb-dot .breadcrumb-item+.breadcrumb-item::before {

      content: "›";

      vertical-align: top;

      color: #9D9D9D;

      font-size: 22px;

      line-height: 18px;

    }

    .sidebar-brand-text{
      text-transform: capitalize;
      font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
    }

    .sidebar-below-brand{
      text-transform: capitalize;
      font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #9599A6;
    }

    li.nav-item.dropdown.no-arrow.mx-1 {
    list-style-type: none;
    align-content: end;
}

.rounded-circle{
      background: #F9FBFD;
    }

    .sidebar-toggle-icon{
      color: #BDC9D3;
    }

    .upper-menu-title{
      margin-left : 10px;
      font-style: normal;
font-weight: 900;
font-size: 22px;
line-height: 24px;
color: #222B45;
    }

    .sidebar-menu-title{
      font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
    }

    .sidebar-menu-icon{
      color: #FFFFFF !important;
    }

    .sidebar-menu-icon:hover{
      color: #83D887 !important;
    }
   
.sidebar-menu-title:hover {
  color: #83D887 !important;
}

.sidebar-menu-title.active {
  color: #83D887 !important;
}

.sidebar-menu-icon.active {
  color: #83D887 !important;
}